*{
    -fx-primary-red:#DC1A23;
    -fx-primary-purple:#751A5E;
    -fx-primary-blue:#0D179A;
}

#welcome-label{
    -fx-text-fill: #f02654;
    -fx-font-size:18px;
    -fx-font-style:italic;
    -fx-font-weight:bold;
}

#welcome-pane-background{
    -fx-background-color: linear-gradient(to bottom,
    -fx-primary-red, /* Transition to base color */
    -fx-primary-purple, /* Darker shade for depth */
    -fx-primary-blue     /* End with the darkest shade */
    );
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0, 1, 1);
}

.input-label{
    -fx-text-fill:#ad0050;
    -fx-font-size:14px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.show-password-button{
    -fx-background-color: transparent;
    -fx-alignment:CENTER_LEFT;
    -fx-border-width:0;
    -fx-padding:0;
    -fx-font-size:11px;
    -fx-text-fill:#6a6971;
}

.login-register-buttons{
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-font-weight:bold;
    -fx-cursor: hand;
}

#login-button{
    -fx-background-color: #3B4FC0;
}

#register-button{
    -fx-background-color: #7A59B8;
}

.error-label{
    -fx-text-fill:red;
}


.input-text-field {
    -fx-font-size: 13px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 0 0 1.5 0;
    -fx-border-insets: 0 0 1 0;
    -fx-border-style: solid;
}
.input-text-field:hover{
    -fx-border-color:#8bcdfc;
}

.input-text-field:focused {
    /*
    highlight fill and text fill is for when clicking over it lol    */
    -fx-highlight-fill: rgba(188, 188, 188, 0.33);
    -fx-highlight-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2.35 0;
    -fx-border-insets: 0 0 2 -1;
    -fx-prompt-text-fill: transparent;
    -fx-border-color:#8bcdfc;

}