@font-face {
    src: url("../fonts/bauhaus.ttf");
}

*{
    -fx-primary-red:#DC1A23;
    -fx-primary-deep-red:#AB1A42;
    -fx-primary-purple:#751A5E;
    -fx-primary-deep-purple: #41187D;
    -fx-primary-blue:#0D179A;
}

#welcome-label{
    -fx-font-family:"Bauhaus 93";
    -fx-text-fill: #f02654;
    -fx-font-size:32px;
    -fx-font-weight:bold;
}

#welcome-pane-background{
    -fx-background-color: linear-gradient(to bottom,
    -fx-primary-red, /* Transition to base color */
    -fx-primary-purple, /* Darker shade for depth */
    -fx-primary-blue     /* End with the darkest shade */
    );
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0, 1, 1);
}

.input-label{
    -fx-text-fill:#ad0050;
    -fx-font-size:14px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.show-password-button{
    -fx-background-color: transparent;
    -fx-alignment:CENTER_LEFT;
    -fx-border-width:0;
    -fx-padding:0;
    -fx-font-size:11px;
    -fx-text-fill:#6a6971;
}

.login-register-buttons{
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-font-weight:bold;
    -fx-cursor: hand;
}

#login-button{
    -fx-background-color: #3B4FC0;
}

#register-button{
    -fx-background-color: #7A59B8;
}

.error-label{
    -fx-text-fill:red;
}


.input-text-field {
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1.5 0;
    -fx-border-style: solid;
}
.input-text-field:hover{
    -fx-border-color: #888888;
}

.input-text-field:focused {
    -fx-border-color: #999999;
    -fx-border-width: 0 0 1.5 0;
    -fx-prompt-text-fill: transparent;

}